@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    box-sizing: border-box;
}

/* Body */

body{
    font-family: Space+Grotesk, Verdana, Tahoma, sans-serif;
    font-size: clamp(1rem, 3vw, 2rem);
    background-color: black;
    color: white;
}

/* Header */

header{
    background-color:cadetblue;
}

/* Nav */

nav{
    margin: 1.5rem;
}

li {
    display: inline;
    margin: 0.8rem
}

ul {
    list-style-type: none;

}

a {
    text-decoration: none;
    color: white;
}

.header_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section{
    border: 1px solid gold;
    margin: 1%;
    border-radius: 4px;
}

.video_fondo {
    text-align: center;
    width: -webkit-fill-available;
    height: 100%;
}

/* Main */

main{
    border: 1px solid black;
    padding: 1%;
}

section{
    border: 1px solid black;
    margin: 1%;
    border-radius: 4px;
}

/* Bienvenidos */

.Bienvenidos {
    padding: 3% 5%;
    background-color:darkslategray;
}

textarea {
    font-family: Space+Grotesk, Verdana, Tahoma, sans-serif;
}

.form_container{
    text-align:center;
    padding: 3% 10% ;
    font-family: Space+Grotesk, Verdana, Tahoma, sans-serif;
    font-size: clamp(1rem, 3vw, 2rem)
}


/* Sección Contacto */

.item_ubicacion{
    max-height: 100vh;
    width: 100%;
}

.container_contacto_flex{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center ;
    gap: 10px
}

/* Comentarios*/

.grid_comentarios {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas: 
    'item1 item1 item1'
    'item2 item3 item4'
    'item2 item5 item5';
}

.comentarios_cont {
    text-align: center;
}

.grid_comentarios > div {
    border: 1px solid green;
    padding: 5%;
}

.item1{
    grid-area: item1;
}

.item2{
    grid-area: item2;
}

.item3{
    grid-area: item3;
}

.item4{
    grid-area: item4;
}

.item5{
    grid-area: item5;
}

/* Estilos de Preguntas Frecuentes*/

.contenedor-acordeon{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 80px;
}
.contenedor-acordeon h2{
    text-align: center;
    font-size: 40%;
    margin-bottom: 35px;
}
.acordeon{
    background: darkslategray;
}
.acordeon label{
    display: block;
    padding: 20px;
    font-size: auto;
    background: #1c1c1c;
    color: #fff;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
}
.acordeon label:hover{
    background: #2e2e2e;
}
.acordeon .contenido-acordeon{
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
}
.btn-acordeon:checked ~ .contenido-acordeon{
    max-height: 600px;
    padding: 15px 0px;
}
.btn-acordeon{
    display: none;
}


@media screen and (max-width: 900px) {
    .contenedor-acordeon{
        width: 90%;
}
}

/* Medias Queries - Comentarios*/

@media (240px < width <= 1080px) {
    body {
        background-color: gray;
    }
    .grid_comentarios {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'item1'
        'item2'
        'item3'
        'item4'
        'item5';
    }
}

/* Medias Queries - Contacto*/
@media (240px < width <= 1080px) {
    body {
        background-color: gray;
    }
    .grid_contacto {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'item1'
        'item2';
    }
}

/* Medias Queries - Footer*/
@media (240px < width <= 1080px) {
    body {
        background-color: gray;
    }
    .grid_logos_redes {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'item1'
        'item2'
        'item 3';
    }
}

/* Footer */

footer{
    text-align:center;
    background-color:cadetblue;
}

/* Nuestros Tours - Con JS */

.card_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #1c1c1c;
    text-align: center;
    border-radius: 24px;
}

.card {
    border: 1px solid cadetblue;
    border-radius: 24px;
    min-width: 300px;
    flex: 1;
    padding: 1rem;
}

.description {
    display: none;
    border: 1px solid cadetblue;
    background-color:  darkslategrey;
    color: white;
    border-radius: 24px;
    padding: 1rem;
}
