@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    box-sizing: border-box;
}

/* Body */

body{
    font-family: Space+Grotesk, Verdana, Tahoma, sans-serif;
    font-size: clamp(1rem, 3vw, 2rem);
    background-color: black;
    color: white;
}

/* Header */

header{
    background-color:cadetblue;
}

/* Nav */

li {
    display: inline;
    margin: 0.5rem
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.header_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section{
    border: 1px solid gold;
    margin: 1%;
    border-radius: 4px;
}

.video_fondo {
    text-align: center;
    width: auto;
    height: 100%;
}

/* Main */

main{
    border: 1px solid gold;
    padding: 1%;
}

section{
    border: 1px solid gold;
    margin: 1%;
    border-radius: 4px;
}

/* Bienvenidos */

.Bienvenidos {
    padding: 3% 5%;
    background-color:darkslategray;
}

textarea {
    font-family: Space+Grotesk, Verdana, Tahoma, sans-serif;
}

.form_container{
    text-align:center;
    padding: 3% 10% ;
    font-family: Space+Grotesk, Verdana, Tahoma, sans-serif;
    font-size: clamp(1rem, 3vw, 2rem)
}

/* Nuestros Tours */

.grid_tours {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas: 
    'item1 item2 item3'
    'item4 item5 item6'
    'item7 item8 item9';
}

.tours_cont { 
    text-align: center;
}

.grid_tours > div {
    border: 1px solid green;
    padding: 0.5%;
}

.item1{
    grid-area: item1;
}

.item2{
    grid-area: item2;
}

.item3{
    grid-area: item3;
}

.item4{
    grid-area: item4;
}

.item5{
    grid-area: item5;
}

.item6{
    grid-area: item6;
}

.item7{
    grid-area: item7;
}

.item8{
    grid-area: item8;
}

.item9{
    grid-area: item9;
}

/* Contacto */

.grid_contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-template-areas: 
    'item1 item2'
    'item1 item2';
}

.contacto_container {
    text-align:center;
}


.item1{
    grid-area: item1;
}

.item2{
    grid-area: item2;
}

/* Comentarios*/

.grid_comentarios {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas: 
    'item1 item1 item1'
    'item2 item3 item4'
    'item2 item5 item5';
}

.comentarios_cont {
    text-align: center;
}

.grid_comentarios > div {
    border: 1px solid green;
    padding: 5%;
}

.item1{
    grid-area: item1;
}

.item2{
    grid-area: item2;
}

.item3{
    grid-area: item3;
}

.item4{
    grid-area: item4;
}

.item5{
    grid-area: item5;
}

/* Medias Queries - Comentarios*/

@media (240px < width <= 1080px) {
    body {
        background-color: gray;
    }
    .grid_comentarios {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'item1'
        'item2'
        'item3'
        'item4'
        'item5';
    }
}

/* Medias Queries - Tours*/

@media (240px < width <= 1080px) {
    body {
        background-color: gray;
    }
    .grid_tours {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'item1'
        'item2'
        'item3'
        'item4'
        'item5'
        'item6'
        'item7'
        'item8'
        'item9';
    }
}

/* Medias Queries - Contacto*/
@media (240px < width <= 1080px) {
    body {
        background-color: gray;
    }
    .grid_contacto {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'item1'
        'item2';
    }
}
/* Footer */

footer{
    text-align:center;
    background-color:cadetblue;
}

